<h1>The Places You've Been</h1>

<p>Locations:</p>

<ul>
  <% @locations.each() do |location| %>
  <li><%= location.place() %></li>
  <% end %>
</ul>

<p>Add a New Location:</p>

<form action="/locations" method="post">
  <label for="place">Place</label>
  <input id="place" name="place" type="text">

  <button type="submit">Add Place!</button>
</form>
